#root div {
    top: 100px;
    left: 100px;
    height: 200px;
    width: 300px;
    position: absolute;
    user-select: none;
    touch-action: none;
    cursor: grab;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
        cursor: grabbing;
    }
    &.write {
        box-shadow: inset 0 0 0 10px lightcoral;
    }
    &:hover {
        box-shadow: inset 0 0 0 10px lightblue;
    }
}

#controll {
    position: absolute;
}
